body, div, p {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: url('background-3.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media (max-width: 575px) {
    body {
        font-size: 10px;
    }

    div#container-main {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

div#container-main {
    margin-top: 12%;
    margin-bottom: 2%;
    background-color:rgba(255, 255, 255, 0.8);
}

div#container-imprint {
    margin-top: -2%;
    margin-bottom: 4%;
    background-color:rgba(255, 255, 255, 0.8);
}

div#link-imprint {
    margin-bottom: 4%;
}

div#link-imprint a {
    color:rgba(0, 0, 0, 0.5);
}

div#imprint h3 {
    font-size: 120%;
    font-weight: bold;
}

div#container-portrait {
    margin-top: -12%;
}

h1.title-name {
    font-family: 'Cabin', sans-serif;
    font-size: 400%;
}

h2.title-position {
    font-size: 160%;
}

div#container-links img {
    opacity: 0.5;
    margin: 1%;
}

div#container-links img:hover {
    opacity: 1.0;
}

ul#t-and-t li {
    margin-bottom: 5px;
}
